@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Vazirmatn', system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  direction: rtl;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}